/* Temel Stiller */
body {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f3e5d8;
    color: #5a4637;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1{
font-family: youngserif;
font-weight: 400;
}


h2{
    font-family: outfit;
    font-weight: 600;
    font-size: 1.4rem;
    color: #7f3a4b;
}

p{
    font-family: outfit;
    font-weight: 400;
}

hr{
    color: #f0e2d8;
    width: 100%;
}

#root {
    max-width: 900px;
    margin: 0 auto;
    background-color:white;
    padding: 1.3rem;
}

#root-flex {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.food-hero {
    width: 100%;
    border-radius: 25px;
    display: block;
    margin-top: 20px;
}

.food-hero-title {
    margin-top: 30px;
    margin-right: auto;
}

.food-hero-title-explanation {
    margin-top: 0;
}

/* Kart Stili */
.card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 375px;
    text-align: center;
    margin: 20px auto;
}
 .info-card{
background-color: #fff1f6;
border-radius: 10px;
padding: 15px;
margin: 20px 0;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
 }

.ingredients-title {
    font-family: youngserif;
    color: #7d4a32;
    margin-right: auto;
    font-weight: 500;
    font-size: 1.7rem;
}

.ingredients-list {
    margin-right: auto;
}

.prep-steps
{
    font-family: outfit;
    padding-left: 35px;
    margin-top: 10px;
}

.bold-span {
    font-weight: 600;
}

.card-image {
    width: 100%;
    border-radius: 8px;
}

.card-content {
    padding: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


/* Liste Stilleri */
ul, ol {
    text-align: left;
    padding: 0 20px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Tablo Stili */
table {
    width: 100%;
    flex-flow: row;
  
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.besindeğeri{
    color: #7d4a32;
}

/* Attribution */
.attribution {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: #5a4637;
    text-decoration: none;
    font-weight: bold;
}

@font-face {
    font-family: outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: youngserif;
    src: url(YoungSerif-Regular.ttf);
}

/* 🔹 RESPONSIVE DESIGN 🔹 */

/* 375px ve Üzeri (Mobil) */
@media (min-width: 375px) {
    .card {
        max-width: 400px;
    }
}

/* 1440px ve Üzeri (Masaüstü) */
@media (min-width: 1440px) {
    .card {
        max-width: 800px;
        padding: 40px;
    }

    .description {
        font-size: 18px;
    }

    ul, ol {
        padding: 0 50px;
    }

    table {
        font-size: 16px;
    }
} 